.category-nav {
  margin-top: 5px;
  box-shadow: 1px 1px 3px rgba(225, 226, 220, 0.8);
}
.category-nav .category-innav {
  width: 1000px;
  margin: 0 auto;
  height: 66px;
}
.category-nav .category-innav .innav-left {
  margin: 20px 25px 0 0;
  float: left;
  width: 80px;
  height: 46px;
  font-size: 20px;
  border-bottom: 3px solid #f10582;
}
.category-nav .category-innav .innav-left a {
  color: black;
}
.category-nav .category-innav span {
  float: left;
  display: block;
  background: #999;
  width: 2px;
  height: 20px;
  margin: 20px 25px 0 0;
}
.category-nav .category-innav .innav-right {
  float: left;
  margin: 20px 20px 0 0;
  width: 80px;
  height: 46px;
  font-size: 20px;
  color: #999;
}
.category-trade {
  margin-top: 40px;
}
.category-trade .trade-list .trade {
  width: 1000px;
  margin: 0 auto;
}
.category-trade .trade-list .trade .trade-list {
  margin-bottom: 30px;
}
.category-trade .trade-list .trade .trade-list .list-tit {
  color: black;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}
.category-trade .trade-list .trade .trade-list .list-txt {
  height: 659px;
  border: 1px solid #e5e5e5;
  border-top-color: #514b59;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-left {
  float: left;
  width: 562px;
  padding-left: 38px;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-left .left-item {
  box-sizing: border-box;
  height: 93px;
  padding-top: 15px;
  padding-bottom: 25px;
  margin-bottom: 40px;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-left .left-item .item-left {
  float: left;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-left .left-item .item-right h3 {
  color: black;
  margin-bottom: 10px;
  padding-left: 86px;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-left .left-item .item-right h3 a {
  text-align: left;
  font-weight: 700;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-left .left-item .item-right .right-list {
  padding-left: 71px;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-left .left-item .item-right .right-list li {
  float: left;
  margin-bottom: 10px;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-left .left-item .item-right .right-list li a {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  color: #666;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-right {
  float: right;
  width: 350px;
  padding-bottom: 25px;
  box-sizing: border-box;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-right .right-item {
  padding-top: 15px;
  box-sizing: border-box;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-right .right-item h3 {
  box-sizing: border-box;
  color: black;
  text-align: center;
  font-weight: 700;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-right .right-item h3 a {
  text-align: center;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-right .right-item .item-content {
  padding-top: 10px;
  box-sizing: border-box;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-right .right-item .item-content .content-img {
  height: 440px;
  overflow: hidden;
  box-sizing: border-box;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-right .right-item .item-content .content-img .img-item {
  box-sizing: border-box;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-right .right-item .item-content .content-img .img-item .img-list {
  width: 340px;
  box-sizing: border-box;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-right .right-item .item-content .content-img .img-item .img-list li {
  position: relative;
  z-index: 1;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 158px;
  border: 1px solid #f5eef7;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-right .right-item .item-content .content-img .img-item .img-list li a {
  display: block;
  padding: 5px 10px;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-right .right-item .item-content .content-img .img-item .img-list li a .text {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 158px;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-right .right-item .item-content .content-img .img-item .img-list li a .text span {
  display: table-cell;
  vertical-align: middle;
  padding: 15px;
  text-align: center;
  height: 48px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-right .right-item .item-content .content-img .img-item .img-list li a img {
  width: 138px;
  height: 68px;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-right .right-item .item-content .content-circle {
  margin-top: 10px;
  text-align: center;
  box-sizing: border-box;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-right .right-item .item-content .content-circle li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  vertical-align: top;
  background-color: #d9d9d9;
  border-radius: 50%;
}
.category-trade .trade-list .trade .trade-list .list-txt .txt-right .right-item .item-content .content-circle .active {
  background: #f10180;
}
.category-trade .trade-list .more {
  margin-top: 60px;
  margin-bottom: 100px;
  text-align: center;
}
.category-trade .trade-list .more a {
  color: #fff;
  display: block;
  width: 180px;
  height: 46px;
  border-radius: 5%;
  margin: 0 auto;
  text-align: center;
  line-height: 46px;
  font-size: 20px;
  background-color: #f10180;
  border: 1px solid #f10180;
}
.category-trade .trade-nav {
  position: fixed;
  left: 50%;
  bottom: 20px;
  z-index: 10;
  margin: 0 auto;
  margin-left: -512px;
  padding-right: 5px;
  padding-left: 5px;
  width: 1014px;
  font-size: 14px;
  text-align: center;
  background-color: #2b2b2b;
  border-radius: 8px;
  box-sizing: border-box;
}
.category-trade .trade-nav .nav-list li {
  display: inline-block;
  position: relative;
  z-index: 999;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 78px;
  text-align: center;
  vertical-align: top;
}
.category-trade .trade-nav .nav-list li a {
  display: block;
  width: 78px;
  color: #fff !important;
  border-right: 1px solid #666;
}
.category-trade .trade-nav .nav-list .active {
  background: #ED4177;
}
