.img100 img {
  width: 100%;
}
.all-bg {
  width: 1000px;
  margin: 0 auto;
}
.index-nav-ad {
  height: 450px;
  padding-top: 45px;
  background: url(../images/index/15075340697360.jpg) center top;
}
.nav-big-ad {
  width: 968px;
  height: 410px;
  margin: 0 auto;
  padding-top: 5px;
  position: relative;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #ccc;
}
.slider {
  position: relative;
  width: 950px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 100px;
}
.slider span {
  display: none;
  width: 30px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 180px;
  z-index: 9;
  background-image: url(../images/yd/2017-10-17_092826.png);
}
.slider span:last-of-type {
  position: absolute;
  top: 180px;
  left: 920px;
  background-image: url(../images/yd/sprites-hash-b15f4b7d_01.png);
}
.slider div {
  position: absolute;
  width: 30000px;
  height: 340px;
}
.slider div img {
  display: block;
  float: left;
  width: 950px;
  height: 340px;
}
.slider dl {
  width: 575px;
  height: 30px;
  position: absolute;
  left: 220px;
  bottom: 0;
  color: black;
}
.slider dl dd {
  margin: 0;
  text-align: center;
  line-height: 100%;
  float: left;
  width: 50%;
  height: 100%;
  font-size: 16px;
}
.slider a {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 287.5px;
  height: 3px;
  background-color: #F10180;
}
.winter-change {
  width: 1000px;
  height: 451px;
  margin: 0 auto;
  background-image: url(../images/index/15084053706771.jpg);
  background-size: 100% 100%;
}
.winter-change .winter-change-title img {
  width: 100%;
}
.winter-change .winter-change-box {
  height: 345px;
  padding: 0 5px;
}
.winter-change .winter-change-box li {
  width: 163px;
  height: 165px;
  float: left;
}
.winter-change .winter-change-box li img {
  width: 100%;
}
.good {
  height: 560px;
}
.good ul {
  width: 1000px;
  height: 120px;
  display: flex;
  justify-content: space-around;
}
.good ul li {
  text-align: center;
  width: 111px;
  height: 110px;
}
.good .ab {
  width: 490px;
  height: 315px;
  position: relative;
  float: left;
  margin: 20px 0 0 0;
}
.good .ab dl {
  width: 490px;
  height: 110px;
  position: absolute;
  bottom: 5px;
  left: 0;
  display: flex;
  justify-content: space-around;
}
.good .ab dl dd {
  width: 110px;
  background-color: white;
  text-align: center;
  padding-top: 20px;
}
.good .ab dl dd img {
  height: 59px;
  width: 59px;
  margin-bottom: 5px;
}
.good .ab1 {
  margin-right: 10px;
}
.index-special {
  height: 300px;
  margin-top: 20px;
}
.index-special .index-special-threebox {
  display: flex;
  justify-content: space-between;
}
.index-special .index-special-threebox-1 {
  width: 320px;
  height: 200px;
  background-image: url(../images/index/zhuanshu_01.jpg);
  background-size: 100% 100%;
}
.index-special .index-special-threebox-1:nth-child(2) {
  background-image: url(../images/index/top_01.jpg);
}
.index-special .index-special-threebox-1:nth-child(3) {
  background-image: url(../images/index/she_01.jpg);
}
.index-special .index-special-threebox-1 img {
  display: block;
  margin: 40px 0 30px 20px;
  width: 120px;
  height: 37px;
}
.index-special .index-special-threebox-1 ul {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
}
.index-special .index-special-threebox-1 ul li {
  width: 100px;
  height: 90px;
  position: relative;
  background-color: white;
}
.index-special .index-special-threebox-1 ul li img {
  width: 80%;
  height: 90%;
  margin: 5px auto;
}
.index-special .index-special-threebox-1 ul li span {
  position: absolute;
  left: 0px;
  top: -5pxss;
  display: block;
  width: 20px;
  height: 25px;
  background-size: 100% 100%;
  background-image: url(../images/index/tag1.png);
}
.index-special .index-special-threebox-1 .index-special-threebox-last img {
  margin-top: 25px;
  width: 72px;
  height: 36px;
}
.index-shangxin {
  height: 650px;
}
.index-shangxin .index-shangxin-threeboxs:nth-child(odd) {
  margin: 0 20px 20px 0;
}
.index-shangxin .index-shangxin-threeboxs {
  width: 490px;
  height: 300px;
  float: left;
  background-image: url(../images/index/2017-10-22_093620.png);
}
.index-shangxin .index-shangxin-threeboxs:nth-child(2) {
  background-image: url(../images/index/2017-10-22_093704.png);
}
.index-shangxin .index-shangxin-threeboxs:nth-child(3) {
  background-image: url(../images/index/2017-10-22_093724.png);
}
.index-shangxin .index-shangxin-threeboxs:nth-child(4) {
  background-image: url(../images/index/2017-10-22_093814.png);
}
.index-shangxin .index-shangxin-threeboxs:hover .index-shangxin-threeboxs-white {
  display: block;
}
.index-shangxin .index-shangxin-threeboxs .index-shangxin-threeboxs-white {
  display: none;
  margin: 0 auto;
  width: 450px;
  height: 260px;
  margin-top: 30px;
  background-color: white;
}
.index-shangxin .index-shangxin-threeboxs .index-shangxin-threeboxs-white ul {
  margin: 0 auto;
  width: 450px;
  height: 200px;
  padding-top: 20px;
  padding-left: 30px;
  border-bottom: 1px dashed black;
}
.index-shangxin .index-shangxin-threeboxs .index-shangxin-threeboxs-white ul li {
  float: left;
  width: 130px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.index-shangxin .index-shangxin-threeboxs .index-shangxin-threeboxs-white ul li img {
  margin-bottom: 10px;
  width: 122px;
  height: 140px;
}
.index-shangxin .index-shangxin-threeboxs .index-shangxin-threeboxs-white dl dt {
  width: 160px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  float: left;
}
.index-shangxin .index-shangxin-threeboxs .index-shangxin-threeboxs-white dl dt img {
  width: 105px;
  height: 38px;
}
.index-shangxin .index-shangxin-threeboxs .index-shangxin-threeboxs-white dl dd {
  text-align: center;
  margin-top: 15px;
  margin-right: 20px;
  float: right;
  width: 120px;
  height: 24px;
  border: 1px solid black;
  color: black;
  font-size: 13px;
  padding-top: 2px;
  border-radius: 5px;
}
.index-shangxin .index-shangxin-threeboxs .index-shangxin-threeboxs-white dl dd:hover {
  background-color: #333333;
  color: white;
}
.index-shangxin .index-shangxin-threeboxs .img {
  display: none;
  width: 490px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.7);
}
.index-boxs {
  height: 700px;
}
.index-title {
  height: 44px;
  border-bottom: 1px solid black;
}
.index-title a {
  float: right;
  margin-top: 20px;
  color: black;
}
.index-title a span {
  width: 15px;
  height: 15px;
  float: right;
  margin-left: 3px;
  background-image: url(../images/index/2017-10-22_100433.png);
}
.index-title a:hover {
  color: #F10180;
}
.index-title a:hover span {
  background-image: url(../images/index/2017-10-22_101107.png);
}
.index-title-more {
  border: none;
}
.index-title-more img {
  width: 100%;
}
.block-bian {
  margin-right: 0!important;
}
.special-boxs-2 {
  width: 320px;
  height: 185px;
  margin-right: 20px;
}
.special-boxs-2 .black-img {
  position: relative;
  height: 155px;
  width: 100%;
}
.special-boxs-2:hover .qxgood {
  background-color: rgba(0, 0, 0, 0.4);
}
.special-boxs-2 .qxgood {
  width: 140px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 30%;
  top: 35%;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
}
.special-boxs-2 .tixin-phone {
  margin-top: -10px;
  margin-left: 10px;
  display: none;
  width: 217px;
  height: 26px;
  padding-top: 5px;
  border: 1px solid #ccc;
}
.special-boxs-2 .tixin-phone input {
  padding-left: 10px;
  width: 146px;
}
.special-boxs-2 .tixin-phone span {
  border-left: 1px solid #ccc;
  padding: 0 10px;
  color: #42A7DB;
}
.index-fix-lan {
  display: none;
  background-color: white;
  width: 80px;
  height: 460px;
  position: fixed;
  bottom: 50px;
  left: 30px;
  font-size: 12px;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.index-fix-lan ul {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
}
.index-fix-lan ul li {
  height: 37px;
  line-height: 40px;
  border-radius: 5px;
  border-bottom: 1px solid #ccc;
}
.index-fix-lan ul li a {
  display: block;
  height: 37px;
  position: relative;
  padding-left: 25px;
}
.index-fix-lan ul li img {
  position: absolute;
  left: 10px;
  top: 8px;
}
.index-fix-lan ul li .index-fix-1 {
  display: block;
}
.index-fix-lan ul li .index-fix-2 {
  display: none;
}
.index-fix-lan ul li .index-fix-3 {
  display: none;
}
.index-fix-lan ul li:hover {
  position: relative;
}
.index-fix-lan ul li:hover a {
  display: block;
  height: 37px;
  position: relative;
  color: #F10180;
}
.index-fix-lan ul li:hover a img {
  position: absolute;
  left: 10px;
  top: 8px;
}
.index-fix-lan ul li:hover .index-fix-1 {
  display: none;
}
.index-fix-lan ul li:hover .index-fix-2 {
  display: block;
}
.index-fix-lan ul li:hover .index-fix-3 {
  display: none;
}
.index-fix-lan .on {
  background-color: #F10180;
}
.index-fix-lan .on a {
  color: white;
}
.index-fix-lan .on .index-fix-1 {
  display: none;
}
.index-fix-lan .on .index-fix-2 {
  display: none;
}
.index-fix-lan .on .index-fix-3 {
  display: block;
}
.index-fix-lan .on:hover a {
  color: white;
}
.index-fix-lan .on:hover .index-fix-1 {
  display: none;
}
.index-fix-lan .on:hover .index-fix-2 {
  display: none;
}
.index-fix-lan .on:hover .index-fix-3 {
  display: block;
}
.index-fix-lan .index-fix-last {
  border: none;
}
